<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refreash" content="5">
    <title>Activity App</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body>
    <header class="header-container">
        <div class="header-icon-div">
            <i id="side_menu_icon" class="fas fa-2x fa-align-justify header-icon"></i>
        </div>
        <i class="fas fa-6x fa-users header-container-p"></i>
        <h1 class="header-container-h1">User Activity</h1>
    </header>
    <div id="side_menu_container" class="side-menu-container">
        <button class="side-menu-button"><i class="fas fa-mail-bulk  side-menu-icon"></i>View Post</button>
        <button class="side-menu-button"><i class="fas fa-history  side-menu-icon"></i>Delete History</button>
        <button class="side-menu-button"><i class="fas fa-user-friends  side-menu-icon"></i>Member</button>
        <button class="side-menu-button"><i class="fas fa-sign-out-alt  side-menu-icon"></i>Logout</button>
    </div>
    <div class="main-body-container">
        <form action="/inserting" method="POST">
            <input type="text" name="activity" id="activity" class="body-container-insert" placeholder="Activity"></input>
            <button class="body-container-enter" type="submit"><i class="fas fa-2x fa-share body-container-enterI"></i></input></button>
        </form>
    </div>
    <script src="js/script.js"></script>
</body>
</html>