<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refreash" content="5">
    <title>Activity App</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body>
    <header class="header-container">
        <div class="header-icon-div">
            <i id="side_menu_icon" class="fas fa-2x fa-align-justify header-icon"></i>
        </div>
        <i class="fas fa-6x fa-users header-container-p"></i>
        <h1 class="header-container-h1">User Activity</h1>
    </header>
    <div id="side_menu_container" class="side-menu-container">
        <div id="side_menu_home" class="side-menu-button"><i class="fas fa-home  side-menu-icon"></i>Home</div>
        <div id="side_menu_post" class="side-menu-button"><i class="fas fa-mail-bulk  side-menu-icon"></i>View Post</div>
        <div class="side-menu-button"><i class="fas fa-user-friends  side-menu-icon"></i>Member</div>
        <div id="side_menu_logout" class="side-menu-button"><i class="fas fa-sign-out-alt  side-menu-icon"></i>Logout</div>
    </div>
    <div id="drop_down_menu" class="drop-down-menu">
        <div id="side_menu_home" class="side-menu-button"><i class="fas fa-home  side-menu-icon"></i>Home</div>
        <div id="side_menu_post" class="side-menu-button"><i class="fas fa-mail-bulk  side-menu-icon"></i>View Post</div>
        <div class="side-menu-button"><i class="fas fa-user-friends  side-menu-icon"></i>Member</div>
        <div id="side_menu_logout" class="side-menu-button"><i class="fas fa-sign-out-alt  side-menu-icon"></i>Logout</div>
    </div>
    <div id="confirm_box" class="confirmation-box">
        <form action="/logout" method="POST" class="confirm-form">
            <h2 class="confirm-h2">Logout</h2>
            <p class="confirm-p">Are you sure you want to logout</p>
            <div id="confirm_cancel" type="button" class="confirm-button confirm-btn1"><p class="confirm-cancelP">Cancel</p></div>
            <button class="confirm-button confirm-buttonB confirm-btn2" type="submit">Confirm</button>
        </form>
    </div>
    <div id="main_container" class="main-body-container">
        <input type="text" name="activity" id="body_container_activity" class="body-container-insert" placeholder="Activity"></input>
        <button id="body_container_enter" class="body-container-enter" type="submit"><i class="fas fa-2x fa-share body-container-enterI"></i></button>
        <table class="table">
            <thead>
                <th>ID: </th>
                <th>Name: </th>
                <th>Activity: </th>
            </thead>
            <tbody id="main_tbody"></tbody>
        </table>
    </div>
    <div id="post_container" class="post-body-container">
        <div id="post_input" class="post-input">
            <input type="text" id="post_edit" class="body-container-insert" placeholder="Edit"></input>
            <button id="post_btn" class="body-container-enter" type="submit"><i class="fas fa-2x fa-share body-container-enterI"></i></button>
        </div>
        <table class="table">
            <thead>
                <th>ID: </th>
                <th>Name: </th>
                <th>Activity: </th>
                <th>Edit: </th>
                <th>Delete: </th>
            </thead>
            <tbody id="post_tbody"></tbody>
        </table>
    </div>
    
    <script src="js/script.js"></script>
</body>
</html> 